:root {
    --pixel-size: 20px;
    --num-pixels: 16;
}

html {
    background-color: lightsalmon;

}

.unfilled {
    background-color: lightgray;
    width: var(--pixel-size);
    height: var(--pixel-size);
    gap: 0;
    
}

.filled {
    background-color: black;
    gap: 0;
}

#container {
    display: grid;
    border: 2px solid black;
    background-color: lightgray;

    width: 320px;
    height: 320px;
    grid-template-columns: repeat(var(--num-pixels), 1fr);
    grid-template-rows: repeat(var(--num-pixels), 1fr);
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    

}

#clear {
    margin: auto;
    margin-bottom: 20px;
    display: block;
    -moz-appearance: none;
    
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px 8px;
    background-color: lightsteelblue;
}

#clear:hover {
    background-color: steelblue;
}